/* *{
    transition-duration: 0.4s;
} */
body{
    min-height: 100vh;
    padding: 0;
    margin: 0;
    position: absolute;
    font-family: Tahoma;
    background-color: #223;
    color: #fff;
    width: 100%;
}
h1 {
    text-align: center;
    font-family: "Jaro";
    font-size: 30vmin;
    line-height: 0.7ch;
    padding-top: .1em;
    margin-bottom: .1em;
    margin-top: 0;
    height: 2em;
    width: 100%;
    left: 0px;
    z-index: 1;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-color: #222;
    color: #014;
    pointer-events: none;
    & span {
        position: relative;
    }
    & .knife {
        font-family: 'Danfo';
        transform: translateX(-10%) scale(.8,-3) ;
        color: #f337;
        position: absolute;
        width: fit-content;
        height: fit-content;
        left: 0px;
        top:.965em;
        background-clip: text;
        z-index: 1;
    }
}
footer {
    background-color: #000;
    color:#fff;
    bottom: 0px;
    position: relative;
}
menu {
  display: flex;
  overflow-x: scroll;
  overflow-y: visible;
  
  padding: 0;
  margin: 0;
  width: 100%;
  height: 4em;
}
iframe {
    width: 100%;
    height: 100%;
}
menu > button {
    /* clip-path: polygon(0 20px, 20px 0, 100% 0, 100% 100%, 0 100%); */
    align-self: flex-end;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    flex: 1 100px;
    min-width: 120px;
    bottom: 0px;
    height: 2em;
    font-size: 20px;
    transition-property: bottom, height, color, background-color, flex; 
    transition-duration:  0.4s;
    background-color: #fff;
    margin: 0px -0.5px;
    box-shadow: 4px 4px 0px #000;
    & > input {
        display: none;
    };
    &:focus, &:hover {
        background-color: #ccc;
    }
    &:has(input:checked) {
        flex-grow: 1.5;
        height: 3em;
        background-color: var(--sel-bg-color, #333);
        color: var(--sel-color, #fff);
    }
    /* &::after{
        width: 4px;
        height: 100%;
        background-color: #000;
        position: absolute;
        right: -4px;
        top:4px;
        content: '';
    } */
}
#mini-app-container {
    background-color: #1111;
    width: calc(100% - 40px);
    left: 20px;
    position: relative;
    height: min(100vw, 80vh);
    & div.content{
        width: 100%;
        height: 100%;
        background-color: #000;
        border: 3px solid var(--sel-bg-color);
    }
}
#perf-bar {
    font-family: monospace;
}
#framework-info {
    display: flex;
    background-color: var(--sel-bg-color, #333);
    color: var(--sel-color, #fff);
    /* padding: 8px;; */
    position: relative;
    height: 2em;
    transition: background-color 0.4s, color 0.4s;
    & > span {
        margin: 10px;
    }
}
#framework-link, #framework-repo {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    background-color: #eef;
    font-family: monospace;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 20px;
    right: 0px;
    height: 100%;
    border: none;
    color: orangered;
    width: 100px;
    clip-path: polygon(10px 0, 100% 0, 100% 100%, 0% 100%);
    transition-property: width, color, background-color;
    transition-duration: 0.4s;
    &:hover, &:focus {
        width: max(120px, calc(1.2ch * var(--sel-link-char-count, 8ch)));
        background-color: #000;
        color: lime;
        & > a {
            width: calc((1ch * var(--sel-link-char-count)) - 8ch);
        }
    }
    & > a {
        display: inline-block;
        vertical-align: sub;
        position: relative;
        overflow-x: hidden;
        width: 0%;
        transition: width 0.4s;
    }
}
#framework-link {
    background-color: #fff;
    color: #36c;
    right: -15px;
    padding-right: 9px;
    width: 140px;
    &:hover, &:focus {
        width: max(120px, calc(1.2ch * var(--sel-link-char-count, 8ch)));
        background-color: #1f1f1f;
        color: #c087f3;
        & > a {
            width: calc((1ch * var(--sel-link-char-count)) - 8ch);
        }
    }
    & > a {
        display: inline-block;
        vertical-align: sub;
        position: relative;
        overflow-x: hidden;
        width: 0%;
        transition: width 0.4s;
    }
}
blockquote {
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
