body{
    min-height: 100vh;
    padding: 0;
    margin: 0;
    position: absolute;
    font-family: Tahoma;
    background-color: #112;
    color: #fff;
    width: 100%;
}
nav {
    position: sticky;
    top: 0px;
    height: 30px;
    background-color: #000;
    z-index: 9999;
}
h1 {
    text-align: center;
    font-family: "Jaro";
    font-size: 30vmin;
    line-height: 0.7ch;
    padding-top: .1em;
    margin-bottom: .1em;
    margin-top: 0;
    height: 2em;
    width: 100%;
    left: 0px;
    z-index: 1;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-color: #222;
    color: #014;
    pointer-events: none;
    & span {
        position: relative;
    }
    & .knife {
        font-family: 'Danfo';
        transform: translateX(-10%) scale(.8,-3) ;
        color: #f337;
        position: absolute;
        width: fit-content;
        height: fit-content;
        left: 0px;
        top:.965em;
        background-clip: text;
        z-index: 1;
    }
}
h2 {
    overflow: hidden;
    white-space: nowrap;
    font-size: 10vh;
    margin: 20vh 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#no-script-prompt {
    position: fixed;
    display: block;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: #111;
    font-family: monospace;
    font-size: 1rem;
    padding: 10px;
    border: 4px solid #ccc;
    & span:first-of-type {
        color: lime;
    }
    & span:last-of-type {
        background-color: yellow;
        color: #000;
    }
    & label {
        font-family: unset;
        float: right;
        width: calc(100% - 4px);
        text-align: center;
        background-color: lime;
        color: #000;
        padding: 2px;
        &:hover {
            background-color: white;
        }
    }
    & input {
        display: none;
    }
    &:has(input:checked) {
        display: none;
    }
}
#mini-app-container {
    background-color: #1111;
    width: calc(100% - 40px);
    left: 20px;
    position: relative;
    & div.content{
        width: 100%;
        height: 100%;
        background-color: #000;
        border: 3px solid var(--sel-bg-color);
    }
}
menu.framework {
    display: flex;
    overflow-x: scroll;
    overflow-y: visible;
    
    padding: 0;
    margin: 0;
    width: 100%;
    height: 4em;
}
menu.framework > button {
    /* clip-path: polygon(0 20px, 20px 0, 100% 0, 100% 100%, 0 100%); */
    align-self: flex-end;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    flex: 1 100px;
    min-width: 120px;
    bottom: 0px;
    height: 2em;
    font-size: 20px;
    transition-property: bottom, height, color, background-color, flex; 
    transition-duration:  0.4s;
    background-color: #fff;
    margin: 0px -0.5px;
    box-shadow: 4px 4px 0px #000;
    & > input {
        display: none;
    };
    &:focus, &:hover {
        background-color: #ccc;
    }
    &:has(input:checked) {
        flex-grow: 1.5;
        height: 3em;
        background-color: var(--sel-bg-color, #333);
        color: var(--sel-color, #fff);
    }
}
#framework-info {
    display: flex;
    background-color: var(--sel-bg-color, #333);
    color: var(--sel-color, #fff);
    /* padding: 8px;; */
    position: relative;
    height: 2em;
    transition: background-color 0.4s, color 0.4s;
    & > span {
        margin: 10px;
    }
}
blockquote {
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
#framework-link, #framework-repo {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    background-color: #eef;
    font-family: monospace;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 20px;
    right: 0px;
    height: 100%;
    border: none;
    color: orangered;
    width: 100px;
    clip-path: polygon(10px 0, 100% 0, 100% 100%, 0% 100%);
    transition-property: width, color, background-color;
    transition-duration: 0.4s;
    &:hover, &:focus {
        width: max(120px, calc(1.2ch * var(--sel-link-char-count, 8ch)));
        background-color: #000;
        color: lime;
        & > a {
            width: calc((1ch * var(--sel-link-char-count)) - 8ch);
        }
    }
    & > a {
        display: inline-block;
        vertical-align: sub;
        position: relative;
        overflow-x: hidden;
        width: 0%;
        transition: width 0.4s;
    }
}
#framework-link {
    background-color: #fff;
    color: #36c;
    right: -15px;
    padding-right: 9px;
    width: 140px;
    &:hover, &:focus {
        width: max(120px, calc(1.2ch * var(--sel-link-char-count, 8ch)));
        background-color: #1f1f1f;
        color: #c087f3;
        & > a {
            width: calc((1ch * var(--sel-link-char-count)) - 8ch);
        }
    }
    & > a {
        display: inline-block;
        vertical-align: sub;
        position: relative;
        overflow-x: hidden;
        width: 0%;
        transition: width 0.4s;
    }
}
menu.app {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: scroll;
    height: 100%;
    max-height: 100%;
    background-color: #0008;
    & button {
        font-size: large;
        min-height: 12em;
    }
    & div {
        
    }
}
.app-div {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
    & .clip-menu {
        overflow: auto;
        min-width: 200px;
        flex-grow: 1;
        /* flex-shrink: 1; */
        
    }
}
#hidden-meow {
    position: absolute;
    bottom: 0px;
}
iframe {
    background-color: #fff;
    height: 90vh;
    width: 100%;
}
#perf-bar {
    font-family: monospace;
}
.mostly-text {
    padding: 20px;
}
footer {
    background-color: #000;
    color:#fff;
    bottom: 0px;
    position: relative;
}
